@model IEnumerable<Todo>
<h2>Admin Vezérlőpult</h2>

@foreach (var item in Model.GroupBy(t => t.Creator))
{
    <h3>@item.Key.FirstName @item.Key.LastName teendői</h3>
    <ul>
        @foreach (var todo in 
            Model.Where(t => t.Creator == item.Key))
        {
            <li>@todo.Name</li>
        }
    </ul>
}

